/* Estilos para o cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Estilos para a logo */
.logo img {
    width: 200px; /* Ajuste o tamanho da logo */
    height: auto;
}

/* Estilos para os botões */
nav a.button-link {
    background-color: #173c8e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* Efeito hover para os botões */
nav a.button-link:hover {
    background-color: #00BFDF;
}